#products {
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.products-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 16px;
    column-gap: 10px;
}

.products-pagination {
    grid-column: 2/3;
    padding: 32px;
    margin: 0 auto;
}