<div id="form-container">
    <h1>Register Form</h1>
    <form id="form" action="/user" method="post">
        <input name="name" type="text" placeholder="Ingrese su nombre">
        <input name="surname" type="text" placeholder="Ingrese su apellido">
        <input name="mail" type="email" placeholder="Ingrese su correo electronico">
        <input name="password" type="password" placeholder="Ingrese su contraseña">
        <input id="submit" type="submit" value="Continuar">
    </form>
</div>