<h1>Reset password</h1>

<form action="/session/resetPassword" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>

    <br>

    <input type="submit" value="Reset">
</form>