<div>
    <form id="messenger">
        <input type="text" placeholder="Ingrese un mensaje" id="messenger-message">
        <input type="submit" value="Enviar" id="messenger-submit">
    </form>

    <div id="history">

    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/products/js/index.js"></script>