<div>
    <div id="chat-history"></div>
    <form id="chat-form">
        <input type="textarea" id="chat-textarea">
        <input type="submit" value="Send" id="chat-submit">
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/{{static}}/js/{{script}}.js"></script>