<div>
    <h1>Set user name</h1>
    <form>
        <input type="text" placeholder="username" id="username">
        <input type="submit" value="Send">
    </form>
</div>
<script src="/{{static}}/js/{{script}}.js"></script>