<form id="login-form">
    <h1>Log in</h1>
    <input type="text" placeholder="name" id="login-name">
    <input type="email" placeholder="email" id="login-email">
    <input type="password" placeholder="password" id="login-password">
    <input type="submit" value="Submit">
</form>

<script src="/js/index.js"></script>